/* COMMON STYLES */
@font-face {
  font-family: "gilroy-bold";
  src: url("../../assets/font/gilroy-extrabold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "gilroy-light";
  src: url("../../assets/font/gilroy-light-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  width: 100%; }

body {
  font-family: "gilroy-light", sans-serif;
  -webkit-font-smoothing: auto;
  font-size: 14px;
  letter-spacing: 0.25px;
  background: #F3F3F3;
  color: #424242;
  text-align: center;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "gilroy-bold", sans-serif;
  -webkit-font-smoothing: antialiased; }

a {
  color: #7d8696;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  a:hover {
    color: #424242; }

button {
  background: transparent;
  outline: 0;
  border: 0;
  color: #DDE0E7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }
  button:hover {
    color: #7d8696; }
  button:active {
    color: #7d8696; }
  button:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    border: 0;
    color: #7d8696; }

/* LAYOUTS STYLES */
.topbar {
  position: relative;
  display: block;
  width: calc(100vw - 60px);
  height: auto;
  top: 0;
  left: 60px; }

.path-container {
  position: relative;
  width: auto;
  height: 60px;
  font-size: 15px;
  padding: 0 25px; }

.directory-container {
  cursor: pointer;
  text-align: left;
  float: left; }

.directory-item, .user-item {
  position: relative;
  display: inline-block;
  height: auto;
  color: #2E2E2E;
  line-height: 58px;
  -webkit-transition: all 0.22s cubic-bezier(0.615, 0.19, 0.305, 0.91);
  transition: all 0.22s cubic-bezier(0.615, 0.19, 0.305, 0.91); }

.directory-item::after, .user-item::after {
  content: "";
  display: inline;
  position: absolute;
  top: 82%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #2E2E2E;
  opacity: 0;
  -webkit-transition: all 0.22s cubic-bezier(0.615, 0.19, 0.305, 0.91);
  transition: all 0.22s cubic-bezier(0.615, 0.19, 0.305, 0.91); }

.directory-item:hover::after, .user-item:hover::after {
  top: 70%;
  opacity: 1; }

.username-container {
  cursor: pointer;
  text-align: left;
  float: right; }

.user-item::after {
  content: "";
  display: inline;
  position: absolute;
  top: 82%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #2E2E2E;
  opacity: 0;
  -webkit-transition: all 0.22s cubic-bezier(0.615, 0.19, 0.305, 0.91);
  transition: all 0.22s cubic-bezier(0.615, 0.19, 0.305, 0.91); }

.user-item:hover::after {
  top: 70%;
  opacity: 1; }

.username {
  font-family: "gilroy-bold", sans-serif;
  -webkit-font-smoothing: antialiased; }

.username-hiphen {
  padding: 0 5px; }

.sidebar {
  width: 60px;
  height: 100%;
  background-image: url(../../assets/logo/logo_full_vertical.svg);
  background-size: 25px auto;
  background-position: center bottom 20px;
  background-repeat: no-repeat;
  background-color: #2E2E2E;
  border-right: 1px solid #464646;
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0; }

.ui-board {
  position: relative;
  display: block;
  width: calc(100vw - 60px);
  height: auto;
  top: 0;
  left: 60px;
  background: #F3F3F3; }

/* Board ====================================================================== */
.bottombar {
  position: fixed;
  height: 30px;
  left: 60px;
  background: rgba(255, 255, 255, 0.95); }

.bottombar, .link {
  right: 0;
  bottom: 0; }

.link {
  overflow: hidden;
  position: absolute;
  width: auto;
  color: #C8C8C8;
  -webkit-font-smoothing: auto;
  letter-spacing: 0;
  margin: 0 25px 4px 0; }

.link p {
  font-size: 12px;
  line-height: 20px; }

.link a {
  font-family: "gilroy-bold", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #2E2E2E;
  letter-spacing: 0.1px;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;
  padding: 0 2px; }

.link a:hover {
  color: #fff;
  overflow: hidden; }

.link a:hover::before {
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.link a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #2E2E2E;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
  -webkit-transform: translateY(92%);
          transform: translateY(92%); }

.login-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 1000; }

.login-content-container {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  max-width: 541px;
  overflow: hidden; }

.login-form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.logo-ui-box {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background-image: url(../../assets/logo/logo_ui_box.svg);
  background-size: 70px auto;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 3em; }

/*============================================================================ */
/*============================================================================ */
#login-step-one {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

#login-step-two {
  width: 100%;
  display: none;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

#signup-step-one {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

#signup-step-two {
  width: 100%;
  display: none;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

#signup-step-three {
  width: 100%;
  display: none;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.login-button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.login-back-button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.login-next {
  margin: 4em 0 0; }

.login-back {
  margin: 4em 0 0; }

.login-signup {
  -webkit-font-smoothing: antialiased;
  color: #7d8696;
  margin: 3em auto 1em; }

.directory-boards-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px 100px; }

.modal-button {
  margin: 100px 0; }

.directory-thumbnail-container {
  width: 300px;
  height: auto;
  margin: 30px 20px 10px;
  border-radius: 7px;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in; }
  .directory-thumbnail-container:hover {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }

.directory-thumbnail-container:hover .thumbnail::after {
  opacity: 1; }

.directory-thumbnail-container:hover .thumbnail-trash {
  opacity: 1;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  /* This container helps the thumbnail behave as if it were an unscaled IMG element */ }

.thumbnail-container {
  width: calc(1200px * 0.25);
  height: calc(747px * 0.25);
  display: inline-block;
  overflow: hidden;
  position: relative;
  background: #f9f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f5fa), to(#e9ebf2));
  background: linear-gradient(#f4f5fa, #e9ebf2);
  text-align: center; }

/* This is our screen sizing */
.thumbnail, .thumbnail iframe {
  width: 1200px;
  height: 750px; }

/* This is a masking container for the zoomed iframe element */
.thumbnail {
  -ms-zoom: 0.25;
  -moz-transform: scale(0.25);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.25);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 2s;
  transition: all 2s; }

/* Image Icon for the Background */
.thumbnail-container::before {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50px;
  width: 50px;
  margin-left: -25px;
  margin-top: -25px;
  opacity: 0.4;
  content: url(../../assets/logo/logo_ui_box.svg); }

/* This facilitates the fade-in transition instead of flicker. It also helps us maintain the illusion that this is an image, since some webpages will have a preloading animation or wait for some images to download */
.thumbnail iframe {
  position: absolute;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.thumbnail .board-image {
  width: auto;
  height: 100%; }

/* This pseudo element masks the iframe, so that mouse wheel scrolling and clicking do not affect the simulated "screenshot" */
.thumbnail::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)); }

.thumbnail-trash {
  content: url(../../assets/icons/trash.png);
  position: absolute;
  height: 180px;
  width: 180px;
  padding: 46px;
  top: 14px;
  right: 12px;
  z-index: 100;
  opacity: 0;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }

.thumbnail-trash:hover {
  opacity: 1;
  -webkit-transform: scale(1.15);
          transform: scale(1.15); }

.board-caption-container {
  width: 100%;
  height: 60px;
  background: #fff;
  font-family: "gilroy-bold", sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0;
  line-height: 60px;
  margin-top: -3px; }

#create-board-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 1000;
  display: none;
  opacity: 0;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all; }

.create-board-modal-content-container {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  max-width: 541px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#create-board-step {
  width: 100%;
  opacity: 0; }

#create-board-modal-button {
  background: #C6CCD6;
  position: relative;
  bottom: 0;
  right: 0;
  margin: 100px auto 0; }
  #create-board-modal-button:hover {
    background: #7d8696; }
  #create-board-modal-button:active {
    background: #7d8696; }
  #create-board-modal-button:focus {
    background: #7d8696; }

.close-modal {
  position: absolute;
  top: 1em;
  right: 1.5em;
  padding: 20px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer; }

.board-topbar {
  position: relative;
  width: 42%;
  height: auto;
  top: -60px;
  left: 99px;
  text-align: left; }

.board-name-container {
  position: relative;
  width: auto;
  height: 60px; }

.board-name-container span {
  padding-right: 10px;
  font-size: 14px;
  line-height: 59px; }

#board-name-header {
  position: absolute;
  display: inline-block;
  height: auto;
  top: 19px;
  font-size: 15px;
  font-family: "gilroy-bold", sans-serif;
  -webkit-font-smoothing: antialiased; }
  #board-name-header:focus {
    outline: 1px solid #C6CCD6; }

#board-name-header:empty:before {
  color: #898e98; }

#save-modal-button {
  right: 23px; }

#save-modal-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.save-drop-box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

#save-website-button {
  background: #C6CCD6;
  position: relative;
  bottom: 0;
  right: 0;
  margin: 70px auto 0; }
  #save-website-button:hover {
    background: #7d8696; }
  #save-website-button:active {
    background: #7d8696; }
  #save-website-button:focus {
    background: #7d8696; }

.upload-container {
  font-size: 2em;
  color: #7d8696;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 33%; }

.upload-container span {
  cursor: pointer;
  border-bottom: 1px solid #7d8696; }

.drag-drop img {
  width: 60%;
  height: auto;
  margin: 0 auto; }

.board-view-container.unselected {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px 100px; }

.board-view-container.selected {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 60px 0 60px; }

/* This container helps the thumbnail behave as if it were an unscaled IMG element */
.board-thumbnail-container.unselected {
  width: calc(1200px * 0.25);
  height: calc(750px * 0.25);
  display: inline-block;
  overflow: hidden;
  position: relative;
  background: #f9f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f5fa), to(#e9ebf2));
  background: linear-gradient(#f4f5fa, #e9ebf2);
  border-radius: 7px;
  -webkit-box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.16);
  text-align: center;
  margin: 30px 20px 10px;
  cursor: pointer;
  left: 0;
  -webkit-transition: height 0.3s ease, width 0.3s ease, overflow 0.3s, top 0.3s, left 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: height 0.3s ease, width 0.3s ease, overflow 0.3s, top 0.3s, left 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, height 0.3s ease, width 0.3s ease, overflow 0.3s, top 0.3s, left 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, height 0.3s ease, width 0.3s ease, overflow 0.3s, top 0.3s, left 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  z-index: 0; }
  .board-thumbnail-container.unselected:hover {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.24);
            box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.24);
    -webkit-transition: top 3s, left 3s transform 0.3s, height 3s, width 3s, background 0s, overflow 0.3s, -webkit-box-shadow 0.3s;
    transition: top 3s, left 3s transform 0.3s, height 3s, width 3s, background 0s, overflow 0.3s, -webkit-box-shadow 0.3s;
    transition: top 3s, left 3s transform 0.3s, height 3s, width 3s, background 0s, box-shadow 0.3s, overflow 0.3s;
    transition: top 3s, left 3s transform 0.3s, height 3s, width 3s, background 0s, box-shadow 0.3s, overflow 0.3s, -webkit-box-shadow 0.3s; }

.board-thumbnail-container.selected {
  width: calc(1200px * 0.63);
  height: calc(750px * 0.63);
  display: inline-block;
  position: absolute;
  border-radius: 7px;
  text-align: center;
  cursor: default;
  top: 50%;
  left: 33%;
  margin: 30px 20px 10px;
  margin-left: -414px;
  margin-top: -255px;
  overflow: visible;
  background: transparent;
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
  -webkit-transition: height 0.5s, width 0.5s, background 0s, top 0.3s, left 0.3s;
  transition: height 0.5s, width 0.5s, background 0s, top 0.3s, left 0.3s;
  z-index: 1000; }
  .board-thumbnail-container.selected:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: none;
            box-shadow: none; }

.board-thumbnail-container.selected.move {
  left: 50%; }

.board-thumbnail-container.selected.moveBack {
  left: 33%; }

.board-thumbnail-container.unselected:hover .thumbnail-trash {
  opacity: 1;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }

.board-thumbnail-container.selected:hover .thumbnail-trash {
  display: none; }

.board-thumbnail-container.unselected:hover .board-thumbnail.unselected:after {
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

/* This is our screen sizing */
/* This facilitates the fade-in transition instead of flicker. It also helps us maintain the illusion that this is an image, since some webpages will have a preloading animation or wait for some images to download */
.board-iframe {
  position: absolute;
  left: 0;
  opacity: 0;
  -webkit-transition: all 3s;
  transition: all 3s; }

.board-iframe.unselected {
  width: 1202px;
  height: 754px;
  -webkit-transition: all 3s;
  transition: all 3s; }

.board-iframe.selected {
  width: 1202px;
  height: 754px;
  -webkit-transition: all 3s;
  transition: all 3s; }

/* This is a masking container for the zoomed iframe element */
.board-thumbnail.unselected {
  width: 1202px;
  height: 754px;
  -ms-zoom: 0.25;
  -moz-transform: scale(0.25);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.25);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 0 0;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.board-thumbnail.selected {
  width: 1202px;
  height: 754px;
  -ms-zoom: 0.63;
  -moz-transform: scale(0.63);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.63);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.63);
  -webkit-transform-origin: 0 0;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* Image Icon for the Background */
.board-thumbnail-container::before {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50px;
  width: 50px;
  margin-left: -25px;
  margin-top: -25px;
  opacity: 0.4;
  content: url(../../assets/logo/logo_ui_box.svg); }

/* This is a masking container for the zoomed iframe element */
/* This pseudo element masks the iframe, so that mouse wheel scrolling and clicking do not affect the simulated "screenshot" */
.board-thumbnail.unselected:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)); }

.board-thumbnail.selected:after {
  content: "";
  position: relative; }

.board-view-image.unselected {
  width: auto;
  height: 100%; }

.board-view-image.selected {
  width: auto;
  height: 100%; }

.preview-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  padding: 2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  z-index: 999; }

#preview-header {
  opacity: 0;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s; }

.preview-header-title {
  font-size: 17px;
  letter-spacing: 0.8px;
  color: #5f697a;
  margin-top: 2px;
  text-transform: uppercase; }

.item-actions-container {
  position: fixed;
  top: 28px;
  right: 27px;
  text-align: right;
  z-index: 1001;
  list-style: none; }
  .item-actions-container .action-item {
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    border: 1px solid #DDE0E7;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-left: 10px;
    background: #fff;
    -webkit-transition: color 0.15s;
    transition: color 0.15s;
    position: relative;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .item-actions-container .action-item:hover {
      background: #FBFBFB; }
  .item-actions-container .mobile-icon, .item-actions-container .laptop-icon, .item-actions-container .share-icon, .item-actions-container .right-arrow-icon, .item-actions-container .left-arrow-icon, .item-actions-container .close-icon {
    position: absolute;
    top: 9px;
    left: 12px;
    height: 15px;
    width: auto; }
  .item-actions-container .laptop-icon {
    top: 10px;
    left: 8px;
    height: 13px; }
  .item-actions-container .share-icon {
    top: 10px;
    left: 10px;
    height: 12px; }
  .item-actions-container .right-arrow-icon {
    top: 10px;
    left: 13px;
    height: 13px;
    opacity: 1;
    -webkit-transition: 0s;
    transition: 0s; }
  .item-actions-container .left-arrow-icon {
    top: 10px;
    left: 12px;
    height: 13px; }
  .item-actions-container .close-icon {
    top: 11px;
    left: 11px;
    height: 12px; }

#item-details-container {
  position: fixed;
  text-align: left;
  -webkit-box-shadow: 0 0 0 1px #DDE0E7;
          box-shadow: 0 0 0 1px #DDE0E7;
  height: 100%;
  width: 439px;
  background: #fff;
  padding: 39px 39px 45px;
  top: 0;
  right: 0;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.3s;
  transition: opacity 0.4s, -webkit-transform 0.3s;
  transition: opacity 0.4s, transform 0.3s;
  transition: opacity 0.4s, transform 0.3s, -webkit-transform 0.3s;
  opacity: 1;
  z-index: 1000; }
  #item-details-container .preview-title:empty:before, #item-details-container .preview-description:empty:before,
  #item-details-container .preview-reference-url:empty:before {
    content: attr(placeholder);
    display: block;
    color: #C6CCD6; }

.board-name {
  font-family: "gilroy-bold", sans-serif;
  color: #C6CCD6;
  font-size: 13px; }

.preview-title {
  font-size: 28px;
  line-height: 38px;
  color: #5f697a;
  margin-top: 20px; }

.preview-description {
  font-size: 15px;
  color: #a1a8b5;
  line-height: 25px;
  margin-top: 10px; }

.preview-url-container {
  border-top: 1px solid #DDE0E7;
  width: 100%;
  height: auto;
  margin-top: 32px;
  padding-top: 28px; }

.preview-reference-url, .preview-site-url {
  font-size: 14px;
  color: #a1a8b5; }

@media all and (min-width: 1657px) {
  .directory-boards-container {
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .board-thumbnail-container.selected {
    width: calc(1200px * 0.63);
    height: calc(750px * 0.63);
    margin-left: -414px;
    margin-top: -255px; }

  .board-thumbnail.selected {
    width: 1202px;
    height: 754px;
    -ms-zoom: 0.63;
    -moz-transform: scale(0.63);
    -o-transform: scale(0.63);
    -webkit-transform: scale(0.63); } }
/* MODULES STYLES */
.input-header, .input-header-placeholder {
  font-family: "gilroy-bold", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #7d8696;
  margin: 0 0 2.5em; }

.input-header-placeholder {
  visibility: hidden; }

.input {
  width: 100%;
  text-align: center;
  caret-color: #5f697a;
  background: 0 0;
  font-family: "gilroy-light", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
  outline: none;
  border: none;
  margin: 0 auto 15px; }

.input-container {
  border-bottom: 1px solid #A5ACBA; }

.input-container.error {
  border-bottom: 1px solid #FD515C; }

.input::-webkit-input-placeholder {
  color: #DDE0E7; }

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  color: #5f697a; }

.action-button {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  border-radius: 500px;
  padding: 10px 19px;
  white-space: normal;
  line-height: 1.6;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #fff;
  font-family: "gilroy-bold", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 13.5px;
  letter-spacing: -0.1px;
  background: #FD515C;
  position: fixed;
  bottom: 43px;
  right: 19px; }
  .action-button:hover {
    color: #fff;
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  .action-button:active {
    color: #fff;
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  .action-button:focus {
    color: #fff;
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

.editable-content {
  text-align: left;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: 1px solid transparent; }
  .editable-content:focus {
    outline: 1px solid #DDE0E7; }

.editable-content:empty:before {
  content: attr(placeholder);
  display: block;
  color: #7d8696;
  text-align: left;
  font-family: "gilroy-light", sans-serif; }

/*# sourceMappingURL=app.css.map */