// PREVIEW VIEW
.preview-container
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #fff
  padding: 2em
  transition: .3s
  opacity: 0
  z-index: 999

#preview-header
  opacity: 0
  transition: opacity .15s

.preview-header-title
  font-size: 17px
  letter-spacing: .8px
  color: $darkTextGrey
  margin-top: 2px
  text-transform: uppercase
//=====================================
.item-actions-container
  position: fixed
  top: 28px
  right: 27px
  text-align: right
  z-index: 1001
  list-style: none

  .action-item
    cursor: pointer
    vertical-align: top
    display: inline-block
    border: 1px solid $lightGrey
    border-radius: 50%
    height: 35px
    width: 35px
    margin-left: 10px
    background: #fff
    -webkit-transition: color .15s
    transition: color .15s
    position: relative
    transition: all .2s

    &:hover
      background: #FBFBFB

  .mobile-icon
    position: absolute
    top: 9px
    left: 12px
    height: 15px
    width: auto

  .laptop-icon
    @extend .mobile-icon
    top: 10px
    left: 8px
    height: 13px

  .share-icon
    @extend .mobile-icon
    top: 10px
    left: 10px
    height: 12px

  .right-arrow-icon
    @extend .mobile-icon
    top: 10px
    left: 13px
    height: 13px
    opacity: 1
    transition: 0s

  .left-arrow-icon
    @extend .mobile-icon
    top: 10px
    left: 12px
    height: 13px

  .close-icon
    @extend .mobile-icon
    top: 11px
    left: 11px
    height: 12px

#item-details-container
  position: fixed
  text-align: left
  box-shadow: 0 0 0 1px $lightGrey
  height: 100%
  width: 439px
  background: #fff
  padding: 39px 39px 45px
  top: 0
  right: 0
  transition: opacity .4s, transform .3s
  opacity: 1
  z-index: 1000

  .preview-title:empty:before, .preview-description:empty:before,
  .preview-reference-url:empty:before
    content: attr(placeholder)
    display: block
    color: $lightButtonGrey

.board-name
  font-family: $font-stack-bold
  color: $lightButtonGrey
  font-size: 13px

.preview-title
  font-size: 28px
  line-height: 38px
  color: $darkTextGrey
  margin-top: 20px

.preview-description
  font-size: 15px
  color: $descriptionGrey
  line-height: 25px
  margin-top: 10px

.preview-url-container
  border-top: 1px solid $lightGrey
  width: 100%
  height: auto
  margin-top: 32px
  padding-top: 28px

.preview-reference-url, .preview-site-url
  font-size: 14px
  color: $descriptionGrey
