// PREVIEW VIEW

.view-title:empty:before, .view-description:empty:before,
.view-reference-url:empty:before
  content: attr(placeholder)
  display: block
  color: #aaa


.view-description, .view-reference-url, .view-site-url
  font-size: 14px


.view-container
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #fff
  padding: 2em
  transition: .3s
  opacity: 0
  z-index: 999
