// BREAKPOINTS

@media all and (min-width: 1657px)
  .directory-boards-container
    justify-content: space-around

  .board-view-container.unselected
    justify-content: space-around

  .board-thumbnail-container.selected
    width: calc(1200px * 0.85)
    height: calc(750px * 0.85)
    margin-left: -541px
    margin-top: -286px
    // margin-top: -336px
    left: 36%

  .board-thumbnail.selected
    // overflow: hidden
    width: 1201px
    height: 749px
    -ms-zoom: 0.85
    -moz-transform: scale(0.85)
    -o-transform: scale(0.85)
    -webkit-transform: scale(0.85)

  #item-details-container
    width: 510px

  .board-thumbnail-container.selected.mobile-view
    margin-left: -210px

  .board-name
    width: 226px

@media all and (max-width: 959px)
  .mobile-message
    display: flex
