// SIDEBAR

.sidebar
  width: 60px
  height: 100%
  background-image: url(../../assets/logo/logo_full_vertical.svg)
  background-size: 25px auto
  background-position: center bottom 20px
  background-repeat: no-repeat
  background-color: $charcoal
  border-right: 1px solid $borderGrey
  z-index: 999
  position: fixed
  left: 0
  top: 0

// .sidebar::before
//   content: ""
//   width: 110px
//   height: 30px
//   background: url(../../assets/logo/logo_full.svg) no-repeat
//   transform: rotate(-90deg)
//   position: absolute
//   left: -25px
//   bottom: 60px














































// .box
//   height: 100px
//   width: 100px
//
//   display: inline-block
//   +box( 100%, #555, orangered, yellow)
