// TOP BAR

.topbar
  position: relative
  display: block
  width: calc(100vw - 60px)
  height: auto
  top: 0
  left: 60px

.path-container
  position: relative
  width: auto
  height: 60px
  font-size: 15px
  padding: 0 25px

.directory-container
  cursor: pointer
  text-align: left
  float: left

.directory-container p
  position: relative
  display: inline-block
  height: auto
  color: $charcoal
  line-height: 58px
  transition: all .22s cubic-bezier(.615,.19,.305,.91)

.directory-container p::after
  content: ''
  display: inline
  position: absolute
  top: 82%
  left: 0
  width: 100%
  height: 2px
  background: $charcoal
  opacity: 0
  transition: all .22s cubic-bezier(.615,.19,.305,.91)

.directory-container p:hover::after
  top: 70%
  opacity: 1

.username-container
  height: 60px
  cursor: pointer
  text-align: right
  float: right
  font-family: $font-stack-bold
  -webkit-font-smoothing: antialiased

.username
  position: relative
  display: inline-block
  height: auto
  // line-height: 60px
  opacity: 1

.signout-container
  text-align: center
  color: #fff
  position: absolute
  width: 68px
  right: 25px
  bottom: 18px
  line-height: 26px
  z-index: 0
  background: $charcoal
  max-height: 0
  overflow: hidden
  transition: max-height 0.2s ease-out

.username
  max-height: 25px
  line-height: 26px
  overflow: hidden
  margin-top: 16px
  letter-spacing: -0.2px
  transition: max-height 0.25s ease-out

.username-container:hover .username
  max-height: 0
  transition: max-height 0.15s ease-in
  transition: opacity 0s all

.username-container:hover .signout-container
  max-height: 68px
  transition: max-height 0.25s ease-in
