<section class="view-container">
  <button ui-sref="board">X</button>
  <br>
  <h4>{{ viewInfo.name }}</h4>
  <br>
  <p class="view-title" contenteditable="true" placeholder="Add a title here...">{{ viewInfo.title }}</p>
  <br>
  <p class="view-description" contenteditable="true" placeholder="Add a description here...">{{ viewInfo.description }}</p>
  <br>
  <p class="view-reference-url" ng-if="viewInfo.image_url" contenteditable="true" placeholder="Add a website here...">{{ viewInfo.reference_url }}</p>
  <br>
  <p ng-if="viewInfo.site_url">Site url</p>
  <p class="view-site-url">{{ viewInfo.site_url }}</p>

</section>
