// INTRO ANIMATION

#intro-container
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgb(15, 20, 30)
  z-index: 1001
  display: flex
  justify-content: center
  align-items: center
  transition: all .5s
  display: none

#logo-container
  width: 360px
  height: 100px
  opacity: 0
  // background: grey
  transform: translateY(40%)
  transition: opacity .5s ease-in-out, transform .7s ease
  // height: 100px

  // transition: all .6s cubic-bezier(0.68, -1.15, 0.265, 1.55)

#logo-box
  position: absolute
  height: 100px
  width: 100px
  top: 0
  left: 50%
  margin-left: -50px
  background: transparent
  border-radius: 12px
  display: flex
  justify-content: center
  align-items: center
  transition: background .5s linear


#logo-ui-box
  width: 100%
  height: auto

#hide-container
  width: 100%
  height: 100%
  // background: green

#logo-board
  height: 56px
  width: auto
  position: absolute
  top: 23%
  right: 0
  margin-right: 100%
  opacity: 0

#logo
  width: 360px
  height: auto
