// GLOBAL VARIABLES

$font-stack-bold: 'gilroy-bold', sans-serif
$font-stack-light: 'gilroy-light', sans-serif

$red:            #FD515C
$charcoal:       #2E2E2E
$borderGrey:     #464646
$offwhite:       #F3F3F3

$darkGrey:       #424242
$grey:           #8C96A9
$lightGrey:      #DDE0E7
$lightTextGrey:  #C8C8C8
